@page "/dogs"
@inject NavigationManager Navigation;
@using DogHealthTracker.ViewModels.Dog

<h3>Your Dogs</h3>

<table class="table center" >
    <thead>
        <tr>
            <th>DogID</th>
            <th>Name</th>
            <th>Date of Birth</th>
            <th>View Dog</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dog in dogViewModel.Dogs)
        {
            <tr>
                <td>@dog.DogID</td>
                <td>@dog.Name</td>
                <td>@dog.DateOfBirth</td>
                <td><button @onclick=InspectDog>View Dog</button></td>
            </tr>
        }
    </tbody>
</table>

@code {

    private DogViewModel dogViewModel = new();

    private void InspectDog()
        => Navigation.NavigateTo("/dogoverview");

}
