@page "/dogs"
@using Blazored.Modal.Services
@using CanineCheckup.Components.Modals
@using CanineCheckup.ViewModels.Dog
@inject DogViewModel m_DogViewModel;
@inject IModalService m_Model;
@inject NavigationManager m_Navigation;

<div class="row">
    <div class="col d-flex justify-content-between">
        <h3>Your Dogs</h3>
        <button @onclick="@(() => m_Model.Show<AddDogModal>("Add a Dog"))"
                type="button"
                class="btn btn-primary btn-sm">
            Add Dog
        </button>
    </div>
</div>

<table class="table center" >
    <thead>
        <tr>
            <th>Name</th>
            <th>View Dog</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dog in m_DogViewModel.Dogs)
        {
            <tr>
                <td>@dog.Name</td>
                <td><button @onclick="() => InspectDog(dog.DogID)" 
                            type="button" 
                            class="btn btn-primary">View Dog</button></td>
            </tr>
        }
    </tbody>
</table>

@code {

    private void InspectDog(Guid dogID)
        => m_Navigation.NavigateTo($"/dogs/dogOverview/{dogID}");

}
