@page "/dogs"
@using Blazored.Modal.Services
@using CanineCheckup.Components.Modals
@using CanineCheckup.ViewModels.Dog
@inject NavigationManager Navigation;
@inject DogViewModel dogViewModel;
@inject IModalService model;

<h3>Your Dogs</h3>

<div class="container">
    <div class="row justify-content-end">
        <div class="col-auto">
            <div class="form-group">
                <button @onclick="@(() => model.Show<AddDogModal>("Add a Dog"))"
                        type="button"
                        class="btn btn-primary btn-sm">
                    Add Dog
                </button>
            </div>
        </div>
    </div>
</div>

<table class="table center" >
    <thead>
        <tr>
            <th>Name</th>
            <th>View Dog</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dog in dogViewModel.Dogs)
        {
            <tr>
                <td>@dog.Name</td>
                <td><button @onclick="() => InspectDog(dog.DogID)" 
                            type="button" 
                            class="btn btn-primary">View Dog</button></td>
            </tr>
        }
    </tbody>
</table>

@code {


    private void InspectDog(Guid dogID)
        => Navigation.NavigateTo($"/dogs/dogOverview/{dogID}");

    private bool isModalVisible = false;

}
