@using Blazored.Modal.Services
@using CanineCheckup.Enums
@using CanineCheckup.ViewModels.Modal
@using System.ComponentModel
@using Ardalis.SmartEnum
@inject AddDogModalViewModel m_AddDogModalViewModel;


<form>
    <div class="form-group">
        <label for="dogName">Dogs Name</label>
        <input class="form-control" id="dogName" placeholder="Dogs Name" @bind-value ="this.DogName">
    </div>
    <div class="form-group">
        <label for="DateOfBirth">Date of Birth</label>
        <input class="form-control" id="DateOfBirth" placeholder="Date of Birth" @bind-value="this.DateOfBirth">
    </div>
    <div class="form-group">
        <label for="Breed">Breed</label>
        <input class="form-control" id="Breed" placeholder="Breed" @bind-value="this.Breed">
    </div>
    <div class="form-group">
        <label for="Sex">Sex</label>
        <select class="form-control" id="Sex" placeholder="Sex" @onchange="this.OnSexChanged">
            <option value="">Please select...</option>
            <option value="1">@Enums.DogBiologicalSex.Male</option>
            <option value="0">@Enums.DogBiologicalSex.Female</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary" @onclick = "this.CreateDog">Confirm</button>
</form>

@code {

    private string Breed { get; set; }

    private DateOnly DateOfBirth { get; set; }

    private string DogName { get; set; }

    private string SelectedSexValue { get; set; }

    private DogBiologicalSex Sex { get; set; }

    private void CreateDog()
        => this.m_AddDogModalViewModel.AddDog(
        new()
        {
            Breed = this.Breed,
            DateOfBirth = DateOfBirth,
            Name = this.DogName,
            Sex = this.Sex
        });
    
    private void OnSexChanged(ChangeEventArgs e)
    {
        SelectedSexValue = e.Value.ToString();

        if (int.TryParse(SelectedSexValue, out int parsedValue))
            Sex = DogBiologicalSex.FromValue(parsedValue);
    }

}
