@page "/confirmdogmodal"
@using Blazored.Modal.Services

<div class="modal-footer">
    <button type="submit" class="btn btn-danger btn-sm" @onclick="ConfirmAction">Confirm</button>
</div>

@code {

    [Parameter] 
    public EventCallback OnConfirm { get; set; }

    private async Task ConfirmAction()
        => await OnConfirm.InvokeAsync();

}