@inherits Blazored.Modal.BaseContentComponent

[Parameter] public EventCallback ConfirmAction { get; set; }

<div class="modal-body">
    <p>Are you sure you want to remove your dog?</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
    <button type="submit" class="btn btn-danger btn-sm" @onclick="ConfirmAction">Confirm</button>
</div>

@code {
}